<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
        <style>
            .container{ margin-left: 20px;margin-right: 20px; }
            .footer{font-size: 16px;padding-bottom: 20px;border-bottom: 1px
            solid #D1D5DB;} .footer-links{display: flex;justify-content:
            center;align-items: center;}
        </style>
    </head>
    <body>
        <div class='container'>
            <h3>You've got a new mail from
                {{name}}
                {{lastName}}, their email is: ✉️{{email}}
            </h3>
            <div style='font-size: 16px;'>
                <p>Message:</p>
                <p>{{message}}</p>
                <br />
            </div>
            <p class='footer'>Regards,<br />Marcus<br />Software Developer</p>
            <div class='footer-links'>
                <a
                    href='https://marcuscastanho.vercel.app/'
                    style='text-decoration: none;margin: 8px;color: #9CA3AF;'
                >Website</a>
                <a
                    href='https://github.com/marcus-castanho'
                    style='text-decoration: none;margin: 8px;color: #9CA3AF;'
                >GitHub</a>
                <a
                    href='https://www.linkedin.com/in/marcus-castanho/'
                    style='text-decoration: none;margin: 8px;color: #9CA3AF;'
                >LinkedIn</a>
                <a
                    href='https://twitter.com/marcus_castanho'
                    style='text-decoration: none;margin: 8px;color: #9CA3AF;'
                >Twitter</a>
            </div>
        </div>
    </body>
</html>